.container {
  width: 100vw;
  height: 100vh;
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.majeure {
  font-size: 20vmin;
}

.stage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-perspective: 800px;
  perspective: 800px;
}

.rotate {
  margin: 0 auto;
  width: 600px;
  height: 600px;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  display: flex;
  flex-direction: column;
  /* gap: 220px; */

  justify-content: center;
  align-items: center;
}

.triangle_container {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  overflow: hidden;
  border-radius: 4;
  z-index: -1;
}

.button {
  appearance: none;

  background-color: #d0d0d0;

  border-radius: 4px;
  border-width: 0px;

  min-height: 6vh;
  min-width: 30vw;
  max-width: 90vw;

  font-size: 2vmin;

  box-shadow: 0px 5px 0px 0px #808080;
}

.button:active:hover {
  background-color: #a0a0a0;

  transform: translateY(5px);

  box-shadow: 0px 0px 0px 0px;
}

.ring {
  margin: 0 auto;
  height: 500px;
  /* width: 600px; */

  display: flex;
  justify-content: center;
  flex-direction: column;

  -webkit-transform-style: preserve-3d;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 0.3s;

  transform-style: preserve-3d;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 0.3s;
}

.ring > :nth-child(odd) {
  background-color: #995c7f;
}

.ring > :nth-child(even) {
  background-color: #835a99;
}

.poster {
  position: absolute;
  left: 50%;
  border-width: 0;

  transform: translateX(-50%);

  min-width: 30vw;
  max-width: 90vw;

  height: 100px;
  opacity: 0.7;
  color: rgba(0, 0, 0, 1);
  -webkit-border-radius: 10px;
  border-radius: 10px;

  cursor: pointer;
}

.poster > p {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 28px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@keyframes reverse_spin {
  0% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
  50% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

.selected_majeure {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 800px) {
  .poster,
  .button {
    min-width: 60vw;
  }

  .button {
    font-size: 4vmin;
  }
}
