.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background: radial-gradient(
    circle,
    transparent 0%,
    rgba(98, 35, 210, 0.85) 100%
  );
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 200px);
  grid-template-rows: repeat(10, 230px);
  transform: translate(-3%, -4%);
}

.shape {
  width: 200px;
  height: 100px;

  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
